html, body, #app{
  height: 100%;
  //background: #eee;
  background: #F8F8F8;
  &>:nth-child(1){
    height: 100%;
  }
}

//头部样式
.header-style{
  background-color: #0392fe !important;
  & > :nth-child(2) {
    color: #fff;
  }
}
// large按钮样式
.large-but{
  background-color: #0392fe !important;
  border-color: #0392fe !important;
  border-radius: 5px !important;
}

// cell单元格重新分配比例
.flex-title{
  .van-cell__title{
    flex: 2 0 auto;
  }
  .van-cell__value{
    flex: 1 0 auto;
  }
}

//上一步
.safe-unit-but {
  button{
    background-color: #fff;
    color: #0392fe;
  }
}

// felx两端对齐 建议使用混合指令、增强课扩展性 @mixin、@include
.flex-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
// flex 混合指令
@mixin my-flex($direction:column,$way:space-between) {
  display: flex;
  flex-direction: $direction;
  justify-content: $way;
}