html, body, #app{
  height: 100%;
  background: #eee;
  &>:nth-child(1){
    height: 100%;
  }
}

//头部样式
.header-style{
  background-color: #0392fe !important;
  & > :nth-child(2) {
    color: #fff;
  }
}
// large按钮样式
.large-but{
  background-color: #0392fe !important;
  border-color: #0392fe !important;
  border-radius: 5px !important;
}